[package]
name = "insim_core"
version = "0.1.0"
edition = "2021"
description = """
Core types and traits for the insim crate.
"""
repository = "https://github.com/theangryangel/insim"
rust-version = "1.66"  # https://blog.rust-lang.org/2022/12/15/Rust-1.66.0.html#explicit-discriminants-on-enums-with-fields

[dependencies]
bytes = "1"
encoding_rs = "0.8"
itertools = "0.10"
insim_derive = { path = "../insim_derive" }
