repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.4.1"
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: mixed-line-ending
        args: ["--fix=lf"]
  - repo: https://github.com/crate-ci/typos
    rev: v1.18.0
    hooks:
      - id: typos
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
        args: [
            "--",
            "--config",
            # XXX: Unstable options are not read from rustfm.toml, however you
            # can apply them via args to rustfmt.
            # When stable, remove from here and add to rustfmt.toml
            #
            # See https://github.com/rust-lang/rustfmt/issues/5083
            # See https://github.com/rust-lang/rustfmt/issues/4991
            "group_imports=StdExternalCrate,imports_granularity=Crate",
          ]
      - id: cargo-check
      - id: clippy
        # XXX: allowing clippy::unnecessary_fallible_conversions until binrw has
        # a new release!
        args:
          [
            "--",
            "-D",
            "warnings",
            "-A",
            "clippy::unnecessary_fallible_conversions",
          ]
