[workspace]
members = [
  "insim",
  "insim_core",
  "insim_macros",
  "insim_pth",
  "outgauge",
  "outsim",
  "examples/*",
  "kitcar",
  "kitcar_macros",
]
exclude = ['examples/*']
# Only check / build main crates by default (check all with `--workspace`)
default-members = ["insim", "insim_*", "outgauge", "outsim", "kitcar"]
resolver = "2"

[workspace.package]
authors = ["Karl Southern <karl@theangryangel.co.uk>"]
edition = "2024"
rust-version = "1.85"
repository = "https://github.com/theangryangel/insim.rs"
license = "MIT"
homepage = "https://github.com/theangryangel/insim.rs"

[workspace.lints.rust]
unsafe_code = "deny"
missing_docs = "deny"
unused_crate_dependencies = "deny"
unused_results = "deny"
missing_debug_implementations = "deny"

[workspace.lints.rustdoc]
broken_intra_doc_links = "deny"

# [workspace.lints.clippy]
# unwrap_used = "deny"

[workspace.dependencies]
async-trait = "0.1.89"
bitflags = "2.10.0"
bytes = "1.11.0"
clap = { version = "4.5.53" }
darling = "0.21.3"
encoding_rs = { version = "0.8.35" }
fixedbitset = "0.5.7"
from_variants = "1.0.2"
futures = "0.3.31"
glam = "0.30.9"
if_chain = "1.0.3"
indexmap = "2.12.1"
itertools = { version = "0.14.0" }
num-traits = "0.2.19"
proc-macro2 = "1.0.103"
quote = "1.0.42"
rand = "0.9.2"
serde = { version = "1.0.228" }
serde_norway = "0.9.42"
syn = { version = "2.0.111" }
thiserror = "2.0.17"
tokio = { version = "1.48.0" }
tokio-test = "0.4.4"
tokio-util = "0.7.17"
tracing = "0.1.43"
tracing-subscriber = { version = "0.3.22" }
