[workspace]
members = [
  "insim",
  "insim_core",
  "insim_macros",
  "insim_pth",
  "insim_smx",
  "outgauge",
  "outsim",
  "examples/*",
]
exclude = ['examples/*']
# Only check / build main crates by default (check all with `--workspace`)
default-members = ["insim", "insim_*", "outgauge", "outsim"]
resolver = "2"

[workspace.package]
authors = ["Karl Southern <karl@theangryangel.co.uk>"]
edition = "2021"
rust-version = "1.75"
repository = "https://github.com/theangryangel/insim.rs"
license = "MIT"
homepage = "https://github.com/theangryangel/insim.rs"

[workspace.lints.rust]
unsafe_code = "deny"
missing_docs = "deny"
unused_crate_dependencies = "deny"
unused_results = "deny"
missing_debug_implementations = "deny"

[workspace.lints.rustdoc]
broken_intra_doc_links = "deny"

[workspace.dependencies]
bitflags = "2.4.0"
bytes = "1.4.0"
clap = { version = "4.2" }
darling = "0.20"
encoding_rs = { version = "0.8.32" }
from_variants = "1.0.2"
futures-util = { version = "0.3.28" }
glam = "0.30.3"
if_chain = "1.0.2"
indexmap = "2.1.0"
itertools = { version = "0.14.0" }
num-traits = "0.2.19"
proc-macro2 = "1"
quote = "1"
serde = { version = "1.0.188" }
syn = { version = "2" }
thiserror = "2.0.12"
tokio = { version = "1.11.0" }
tokio-test = "0.4.0"
tokio-tungstenite = { version = "0.27.0" }
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.17" }
tungstenite = { version = "0.26.2" }
