[package]
name = "insim"
version = "0.2.0"
authors = ["Karl Southern <karl@theangryangel.co.uk>"]
edition = "2021"

[lib]
bench = false
doctest = false

[features]
default = ["relay", "tcp", "udp"]
tcp = []
udp = []
relay = []
serde = [
  "dep:serde",
  "insim_core/serde",
  "insim_game_data?/serde",
]
game_data = ["dep:insim_game_data"]
pth = ["dep:insim_pth"]
smx = ["dep:insim_smx"]

[dependencies]
futures = "0.3"
futures-util = "0.3"
bytes = "1"
tokio = { version = "1.11.0", features = ["full", "tracing"] }
tokio-util = { version = "0.7.7", features = ["full"] }
pin-project = "1.0"
tracing = "0.1"
serde = { version = "1", features = ["derive"], optional = true }
bitflags = "2.1"
thiserror = "1"
once_cell = "1"
insim_core = { path = "../insim_core" }
insim_game_data = { path = "../insim_game_data", optional = true }
insim_pth = { path = "../insim_pth", optional = true }
insim_smx = { path = "../insim_smx", optional = true }

[dev-dependencies]
tokio-test = "0.4"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
clap = { version = "4.2", features = ["derive"] }
