<!DOCTYPE html>
<html lang="en" class="bg-gray-50 text-gray-900">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Clockwork Carnage{% endblock %}</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50 text-gray-900 max-w-lg min-h-screen mx-auto flex flex-col space-y-8 px-8 py-8">

    <header class="flex flex-col items-center">
      <a href="/">
        <img src="/logo.svg" alt="Clockwork Carnage" class="h-20">
      </a>
    </header>

        <nav class="flex justify-center items-center space-x-10 bg-gray-50/50 border-y
          border-gray-100 py-3 uppercase text-xs">
          
          <a href="/" class="relative font-semibold tracking-widest text-gray-400 hover:text-gray-900 transition-colors">
            Home
          </a>

          <a href="/about" class="font-semibold tracking-widest text-gray-400 hover:text-gray-900 transition-colors">
            About
          </a>

          <a href="/sessions" class="font-semibold tracking-widest text-gray-400 hover:text-gray-900 transition-colors">
            Sessions
          </a>
        </nav>

    <main>
      {% block content %}{% endblock %}
    </main>
</body>
</html>
