{% extends "layout.html" %} {% block body %}

<div
  class="flex flex-col flex-1 md:overflow-y-hidden"
  hx-ext="sse"
  sse-connect="/s/{{ name }}/live"
>
  <div class="bg-white p-2 text-sm">{{ game }}</div>

  <div class="flex-1 flex flex-col md:flex-row md:overflow-y-hidden">
    <main class="flex-1 md:overflow-y-auto p-2">
      <div sse-swap="players">{% include "servers_info.html" %}</div>

      <div sse-swap="chat">{% include "servers_chat.html" %}</div>
    </main>

    <aside
      class="
        sm:w-full
        md:w-1/3 md:overflow-y-auto
        patina-map-container
        p-2
        bg-white
        m-4
        rounded
      "
      hx-ext="patina-map"
      hx-trigger="sse:players_json"
      patina-map-url="/s/{{ name }}/map"
    >
      Map loading...
    </aside>
  </div>
</div>
{% endblock %}
