{% macro player_name(pname, uname, twitch_username, youtube_username) %}
<span class="font-semibold">{{ pname|colour_html|safe }}</span>
<span class="text-xs text-gray-400 font-mono ml-1">{{ uname }}</span>
{% if let Some(tw) = twitch_username %}
<a href="https://twitch.tv/{{ tw }}" target="_blank" class="text-purple-500 hover:text-purple-700 ml-1">
  <img src="/assets/twitch-icon.svg" class="h-3 w-3 inline" alt="Twitch" />
</a>
{% endif %}
{% if let Some(yt) = youtube_username %}
<a href="https://youtube.com/@{{ yt }}" target="_blank" class="text-red-500 hover:text-red-700 ml-1">
  <img src="/assets/youtube-icon.svg" class="h-3 w-3 inline" alt="YouTube" />
</a>
{% endif %}
{% endmacro %}
