name: ci
on:
  pull_request:
    branches:
      - main

env:
  RUST_BACKTRACE: 1

permissions:
  contents: read

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
      - uses: dtolnay/rust-toolchain@stable
      - uses: pre-commit/action@v3.0.1

  check_codepage_lut:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - name: Check generated codepage LUT (lookup table) is up to date
        run: cargo run -p xtask -- codepage-lut --check

  test:
    runs-on: ubuntu-latest
    needs: [pre-commit, check_codepage_lut]
    strategy:
      matrix:
        channel: [stable, nightly]
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.channel }}
      - uses: Swatinem/rust-cache@v2
      - name: Run cargo test
        run: cargo test --all --all-targets --all-features

  docs:
    runs-on: ubuntu-latest
    needs: [test]
    strategy:
      matrix:
        channel: [stable, nightly]
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.channel }}
      - uses: Swatinem/rust-cache@v2
      - name: Run cargo doc
        run: cargo doc --no-deps

  msrv:
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - uses: actions/checkout@v6
      - name: Get MSRV from package metadata
        id: msrv
        run: grep rust-version Cargo.toml | cut -d'"' -f2 | sed 's/^/version=/' >> $GITHUB_OUTPUT
      - name: Install rust (${{ steps.msrv.outputs.version }})
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ steps.msrv.outputs.version }}
      - uses: Swatinem/rust-cache@v2
      - name: Run cargo check
        run: cargo check --all-targets --all-features

  semver:
    runs-on: ubuntu-latest
    needs: [pre-commit]
    steps:
      - uses: actions/checkout@v6
      - name: Check semver
        uses: obi1kenobi/cargo-semver-checks-action@v2
        with:
          feature-group: all-features
          exclude: kitcar
